<%# 
  Sortable attribute listing header.

  Available local variables:
    container_classes:  classes for the main container
    url:                sortable link url
    attribute:          current attribute name
    title:              current attribute title
    ordered:            defines whether column is sorted or not
    smart_listing:      current SmartListing instance
    builder:            current builder instance
-%>

<%= link_to url, :class => container_classes, :data => {:attr => attribute}, :remote => true do %>
  <%= title %>
  <% if ordered %>
    <span class="<%= smart_listing.sort_order == "asc" ? "glyphicon glyphicon-chevron-up" : "glyphicon glyphicon-chevron-down" %>"></span>
  <% else %>
    <span class="glyphicon glyphicon-resize-vertical"></span>
  <% end %>
<% end %>
