<td colspan="2">
  <%= form_for object, url: object.new_record? ? admin_users_path : admin_user_path(object),
    remote: true, html: {class: "form-horizontal"} do |f| %>
    <div class="form-group">
      <label class="control-label col-md-3" for="user_name">Name</label>
      <div class="col-md-5">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="user_email">Email</label>
      <div class="col-md-5">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</td>
