<td>
  <%= object.name %>
</td>
<td>
  <%= object.email %>
</td>
<td>
  <% if object.boolean? %>
    <i class="glyphicon glyphicon-ok"></i>
  <% else %>
    <i class="glyphicon glyphicon-remove"></i>
  <% end %>
</td>
<td class="actions">
  <%= smart_listing_item_actions [
    {name: :edit, url: edit_admin_user_path(object)},
    {name: :destroy, url: admin_user_path(object), confirmation: 'Sure?'},
    {name: :custom, url: change_name_admin_user_path(object),
     icon: "glyphicon glyphicon-user",
     method: :put, remote: true,
     title: 'Change Name', class: 'change_name'}] %>
</td>
