<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<li class="<%= smart_listing_config.classes(:pagination_list_item) %>">
  <%= link_to page, url, opts = {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil, :class => "block relative text-sm border -ml-px px-3 py-1.5 #{smart_listing_config.classes(:pagination_page)} #{'active' if page.current?}"} %>
</li>
